language: node_js
node_js: stable

after_success:
  - ./node_modules/.bin/nyc report --reporter=text-lcov | ./node_modules/.bin/coveralls

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

script:
  - npm install
  - npm test
  - npm run build

deploy:
  provider: heroku
  api_key:
    secure: SEOpFCXBRSkYb+CrVUcapmYKWY5AGjxIovVoDmZwMGF0FX75h+WrN6oUIdJyqDetEKXHzBxDMUjVeJUryiR/vqpz2veckHuPoNNCswvUeWkje/ZiEjKcQeyKFNjM3gnlXyCmordGWODFwWRCLQlHwGOqf3pW3BXdtigB0vmYwVI=
  app: react-shadow
  on:
    repo: Wildhoney/ReactShadow
