language: node_js
node_js: stable

after_success:
  - ./node_modules/.bin/nyc report --reporter=text-lcov | ./node_modules/.bin/coveralls

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

script:
  - npm install
  - npm test
  - npm run build

deploy:
  provider: heroku
  strategy: api
  all_branches: true
  skip_cleanup: true
  api_key:
    secure: IIUWScgB3/BM7NiBw/p7KtElnvIH6KDh9zXyF2Gmy+ZWVihkmzTwDz4G/YDlqb+o3RSJkcgHHThaaoS9kGASHENgLHc9O3eiiX9m+QADoovf2cBCDHy4P3Mpe+SUghEqMLtGfl6afOTNqKtNew3xp3e6ooCzWOy9djMFMH7d1cw=
  app: react-shadow
  on:
    repo: Wildhoney/ReactShadow
