section {
    background-color: rgba(0, 0, 0, .05);
    padding: 20px 30px;
    margin: 20px;
    display: inline-block;
    cursor: pointer;
    transition: all .1s;
    width: 160px;
    height: 55px;
    text-align: center;
    overflow: hidden;
}

section:hover {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, .1), inset 0 0 0 5px rgba(255, 255, 255, .25);
}

a.reset {
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}

h1.title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
    color: rgba(0, 0, 0, .5);
    color: white;
}