:host {
    background-color: rgba(0, 0, 0, .05);
    padding: 0;
    display: inline-block;
    cursor: pointer;
    transition: all .1s;
    margin: 10px;
    width: 140px;
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, .25);
    text-align: center;
    overflow: hidden;
}

a.reset {
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}

h1.title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
    color: rgba(0, 0, 0, .5);
    color: white;
    font-size: 48px;
}
