:host {
    all: initial;
    background-color: rgba(0, 0, 0, .05);
    border-radius: 5px;
    display: block;
}

section.weather {
    all: initial;
    background-color: rgba(0, 0, 0, .05);
    border-radius: 5px;
    display: block;
}

* {
    padding: 0;
    margin: 0;
}

span {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 75vmin;
    height: 75vmin;
}

main {
    text-align: center;
}

img {
    width: 35vmin;
    height: 35vmin;
}

h1 {
    font-family: Times, "Times New Roman", serif;
    font-weight: normal;
    font-size: 2vmin;
    margin-top: 2vmin;
    font-style: italic;
}

h2 {
    font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
    font-size: 10vmin;
    margin-top: 2vmin;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .15);
    height: 12vmin;
}

ul {
    font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
    font-size: 1.25vmin;
    margin-top: 2vmin;
}

ul li {
    display: inline-block;
}

ul li a {
    padding: 0 .25vmin;
    color: black;
    transition: color .5s;
    cursor: pointer;
}

ul li.title {
    color: rgba(0, 0, 0, .35);
    padding-right: 2px;
}

ul li a:hover {
    color: black;
}

ul li a.active {
    color: deeppink;
}
